index.css
h2{
    color:red   
}
@media (max:600px){
    h2{
        color:purple;

    }
}
.navigation{
    background-color:red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item{
    display: flex;
    gap: 10px;
}